Raspberry Pi Weekly/2019 - q3/03_05 node red/check_LEDs.json
[{"id":"673a7d21.2787dc","type":"tab","label":"Check LEDs","disabled":false,"info":"Confirms that Node-RED can communicate with \nthe RGB and single-color LED\n"},{"id":"f8930cbf.d8cbb","type":"rpi-gpio out","z":"673a7d21.2787dc","name":"RGB:Red","pin":"36","set":"","level":"0","freq":"","out":"out","x":600,"y":260,"wires":[]},{"id":"a0aca479.80328","type":"rpi-gpio out","z":"673a7d21.2787dc","name":"RGB:Green","pin":"38","set":"","level":"0","freq":"","out":"out","x":610,"y":320,"wires":[]},{"id":"9e1b989.1186768","type":"rpi-gpio out","z":"673a7d21.2787dc","name":"RGB:Blue","pin":"40","set":"","level":"0","freq":"","out":"out","x":600,"y":380,"wires":[]},{"id":"2e31599c.687e2e","type":"rpi-gpio out","z":"673a7d21.2787dc","name":"SingleLED","pin":"8","set":"","level":"0","freq":"","out":"out","x":630,"y":140,"wires":[]},{"id":"4a253a30.f322ac","type":"inject","z":"673a7d21.2787dc","name":"tick every 1 sec","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":130,"y":60,"wires":[["52f51cfc.f8ca24"]]},{"id":"52f51cfc.f8ca24","type":"random","z":"673a7d21.2787dc","name":"","low":"0","high":"10","inte":"true","property":"payload","x":320,"y":60,"wires":[["a2c64078.51496","67aa5f5f.a36b48"]]},{"id":"a2c64078.51496","type":"switch","z":"673a7d21.2787dc","name":"gt 5","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":190,"y":160,"wires":[["1f1c3aa1.0c9f15"]]},{"id":"1f1c3aa1.0c9f15","type":"function","z":"673a7d21.2787dc","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"x":370,"y":160,"wires":[["2e31599c.687e2e"]]},{"id":"67aa5f5f.a36b48","type":"switch","z":"673a7d21.2787dc","name":"rgb random","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"3","vt":"num"},{"t":"btwn","v":"3","vt":"num","v2":"6","v2t":"num"},{"t":"gt","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":150,"y":320,"wires":[["8d991457.998b88"],["b80d315d.36be58"],["bbdb7373.752888"]]},{"id":"b80d315d.36be58","type":"function","z":"673a7d21.2787dc","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"x":390,"y":320,"wires":[["a0aca479.80328"]]},{"id":"8d991457.998b88","type":"function","z":"673a7d21.2787dc","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"x":390,"y":260,"wires":[["f8930cbf.d8cbb"]]},{"id":"bbdb7373.752888","type":"function","z":"673a7d21.2787dc","name":"Toggle 0/1 on input","func":"\ncontext.state = context.state || 0;\n\n(context.state == 0) ? context.state = 1 : context.state = 0;\nmsg.payload = context.state;\n\nreturn msg;","outputs":1,"x":390,"y":380,"wires":[["9e1b989.1186768"]]}]