Raspberry Pi Weekly/2019 - q3/03_05 node red/complete_ir_to_led.json
[{"id":"b9ef7682.797968","type":"tab","label":"IR with LED","disabled":false,"info":"duplicates project 03_03 using Node-RED"},{"id":"db478bb.9dcd6f8","type":"rpi-gpio out","z":"b9ef7682.797968","name":"RGB:Red","pin":"36","set":"","level":"0","freq":"","out":"pwm","x":580,"y":320,"wires":[]},{"id":"8d646ede.63296","type":"rpi-gpio out","z":"b9ef7682.797968","name":"RGB:Green","pin":"38","set":"","level":"0","freq":"","out":"pwm","x":590,"y":380,"wires":[]},{"id":"3cd42204.250b26","type":"rpi-gpio out","z":"b9ef7682.797968","name":"RGB:Blue","pin":"40","set":"","level":"0","freq":"","out":"pwm","x":580,"y":440,"wires":[]},{"id":"1fe34c6d.88cdcc","type":"rpi-gpio out","z":"b9ef7682.797968","name":"SingleLED","pin":"8","set":"","level":"0","freq":"","out":"pwm","x":590,"y":200,"wires":[]},{"id":"203f6510.02f07a","type":"rpi-srf","z":"b9ef7682.797968","name":"","topic":"SRF","pulse":"0.5","pins":"12,18","x":70,"y":300,"wires":[["a505fb1a.6959a","8710b554.7a7fc8","7acbcf1c.3da9a"]]},{"id":"10adaac3.0b7dcd","type":"range","z":"b9ef7682.797968","minin":"0","maxin":"50","minout":"50","maxout":"0","action":"clamp","round":true,"property":"payload","name":"convert srf to led","x":410,"y":160,"wires":[["1fe34c6d.88cdcc"]]},{"id":"a505fb1a.6959a","type":"switch","z":"b9ef7682.797968","name":"closer than 100","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"num"},{"t":"gt","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":200,"wires":[["10adaac3.0b7dcd"],["b429fb70.73c328"]]},{"id":"b429fb70.73c328","type":"change","z":"b9ef7682.797968","name":"set to zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":240,"wires":[["1fe34c6d.88cdcc"]]},{"id":"8710b554.7a7fc8","type":"range","z":"b9ef7682.797968","minin":"150","maxin":"0","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"convert srf to led","x":410,"y":320,"wires":[["db478bb.9dcd6f8"]]},{"id":"7acbcf1c.3da9a","type":"range","z":"b9ef7682.797968","minin":"0","maxin":"150","minout":"0","maxout":"100","action":"clamp","round":true,"property":"payload","name":"convert srf to led","x":410,"y":380,"wires":[["8d646ede.63296"]]}]