Raspberry Pi Weekly/2019 - q3/03_05 node red/PWM LED test.json
[{"id":"4dfdd09a.b974e","type":"tab","label":"check pwm with LED","disabled":false,"info":""},{"id":"e029f26.7899e1","type":"inject","z":"4dfdd09a.b974e","name":"tick every 1 sec","topic":"","payload":"","repeat":"1","crontab":"","once":false,"x":130,"y":240,"wires":[["f581cdab.6c65f8"]]},{"id":"398be657.8d7492","type":"rpi-gpio out","z":"4dfdd09a.b974e","name":"RGB:Red","pin":"36","set":"","level":"0","freq":"","out":"pwm","x":540,"y":240,"wires":[]},{"id":"1d2b3949.7bcfa7","type":"rpi-gpio out","z":"4dfdd09a.b974e","name":"RGB:Green","pin":"38","set":"","level":"0","freq":"","out":"pwm","x":550,"y":300,"wires":[]},{"id":"b7aa7d16.be52d","type":"rpi-gpio out","z":"4dfdd09a.b974e","name":"RGB:Blue","pin":"40","set":"","level":"0","freq":"","out":"pwm","x":540,"y":360,"wires":[]},{"id":"c4a8d4f4.276338","type":"rpi-gpio out","z":"4dfdd09a.b974e","name":"SingleLED","pin":"8","set":"","level":"0","freq":"","out":"pwm","x":550,"y":180,"wires":[]},{"id":"f581cdab.6c65f8","type":"random","z":"4dfdd09a.b974e","name":"","low":"0","high":"100","inte":"true","property":"payload","x":320,"y":240,"wires":[["c4a8d4f4.276338","398be657.8d7492","1d2b3949.7bcfa7","b7aa7d16.be52d","b804c996.0db028"]]},{"id":"b804c996.0db028","type":"debug","z":"4dfdd09a.b974e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":100,"wires":[]}]