Raspberry Pi Weekly/2020 - q1/05_11 rpi sense hat refrigerator sensor node red.json
[{"id":"af313608.9468f8","type":"tab","label":"record environment","disabled":false,"info":""},{"id":"969c94cb.891178","type":"tab","label":"it's alive","disabled":false,"info":"a simple flow to ensure the program is running"},{"id":"1c28a683.cd0119","type":"rpi-sensehat in","z":"af313608.9468f8","name":"","motion":false,"env":true,"stick":false,"x":80,"y":66,"wires":[["89c082ab.416e2"]]},{"id":"b35c187c.a6c008","type":"debug","z":"af313608.9468f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":543,"y":123,"wires":[]},{"id":"f219bff0.bb704","type":"file","z":"af313608.9468f8","name":"","filename":"/home/pi/Desktop/environment.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":580.5,"y":267,"wires":[[]]},{"id":"25915fbc.24a6b","type":"csv","z":"af313608.9468f8","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\n","temp":"temperature,humidity,pressure,timestamp","skip":"0","x":408.5,"y":206,"wires":[["f219bff0.bb704"]]},{"id":"67c89879.f6d608","type":"change","z":"af313608.9468f8","name":"","rules":[{"t":"set","p":"payload.timestamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":235.5,"y":169,"wires":[["25915fbc.24a6b","b35c187c.a6c008"]]},{"id":"89c082ab.416e2","type":"delay","z":"af313608.9468f8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":257.5,"y":83,"wires":[["67c89879.f6d608"]]},{"id":"db2ac5f9.94d918","type":"rpi-sensehat out","z":"969c94cb.891178","name":"","x":532.5,"y":90,"wires":[]},{"id":"65f39e14.38495","type":"inject","z":"969c94cb.891178","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"1","x":103.5,"y":220,"wires":[["5b244b53.c60c54"]]},{"id":"60d734a8.c98f9c","type":"debug","z":"969c94cb.891178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":546.5,"y":213,"wires":[]},{"id":"5b244b53.c60c54","type":"function","z":"969c94cb.891178","name":"octal seconds","func":"var d = new Date();\nvar n = d.getSeconds();\nvar theRow = Math.round(Math.random() * 7);\nvar theColumn = Math.round(Math.random() * 7) ;\nvar theRed = Math.round(Math.random() * 255)\nvar theGreen = Math.round(Math.random() * 255)\nvar theBlue = Math.round(Math.random() * 255)\n\n//msg.payload = theColumn+\",\"+theRow+\",green\" ;\nmsg.payload = theColumn+\",\"+theRow+\",\"+theRed+\",\"+theGreen+\",\"+theBlue ;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":303.5,"y":217,"wires":[["60d734a8.c98f9c","db2ac5f9.94d918"]]}]