Raspberry Pi Weekly/2020 - q1/05_06 MQTT Node Red/MQTT client flow.json
[{"id":"cfc5f2b2.3b722","type":"tab","label":"MQTT Client","disabled":false,"info":""},{"id":"eb9c53e7.c12a9","type":"mqtt in","z":"cfc5f2b2.3b722","name":"","topic":"LinkedInLearning/rpiweekly","qos":"2","datatype":"auto","broker":"21b693d0.d2c78c","x":168,"y":89,"wires":[["e8dc0b1.39948f8"]]},{"id":"2b1b393e.279066","type":"debug","z":"cfc5f2b2.3b722","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":392,"y":408,"wires":[]},{"id":"2f0e362f.bbbdfa","type":"rpi-gpio out","z":"cfc5f2b2.3b722","name":"","pin":"37","set":"","level":"0","freq":"","out":"out","x":590.5,"y":133,"wires":[]},{"id":"e8dc0b1.39948f8","type":"change","z":"cfc5f2b2.3b722","name":"convert message to digital","rules":[{"t":"change","p":"payload","pt":"msg","from":".*OFF","fromt":"re","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":".*ON","fromt":"re","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":338.5,"y":200,"wires":[["2b1b393e.279066","2f0e362f.bbbdfa"]]},{"id":"21b693d0.d2c78c","type":"mqtt-broker","z":"","name":"my rpi broker","broker":"10.16.18.195","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]